body{
    background-color:rgb(175, 253, 227);
    text-align: center;
}

a{
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 7px;
    padding: 5px;
}


a:hover{
    transform: scale(1.4);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

table{
    border: 2px solid #989393;
    border-width: 5px;
    border-collapse: collapse;
    margin: auto;
}

th{
    border: 3px solid #989393;
}

td{
    border: 2px solid #989393;
}

.cabecera{
    background-color: rgb(244, 255, 160);
}

.planta{
    font-family: sans-serif;
    background-color:rgb(80, 243, 30);
}

.fuego{
    font-family: sans-serif; 
    background-color:rgb(243, 65, 30);
}

.agua{
    font-family: sans-serif; 
    background-color:rgb(30, 243, 239);
}